<div class="jumbotron" background-image: "/images/receipts.jpg" ; height:300px;>
    <h1>CRUD-dy Storefront</h1>

</div>

<%= form_for @item do |lindy| %>
<% end %>
<div>
    <%= lindy.label :title %>
    <%= lindy.text_field :title %>
    <%= lindy.label :category %>
    <%= lindy.text_field :category %>
    <%= lindy.label :discription %>
    <%= lindy.text_area :discription %>
</div>
<div>
    <%= lindy.label :price %>
    <%= lindy.text_field :price %>
</div>
<%= lindy.submit %>
</div>
